.quotes {
  width: 95%;
  display: flex;
  font-family: cursive, sans-serif;
  font-size: 18px;
  margin-left: 40px;
}

.loading {
  font-family: cursive, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(6, 4, 110);
  padding-left: 50px;
}

.error {
  font-family: cursive, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: red;
  padding-left: 50px;
}

.author {
  font-family: cursive, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
