.calculator {
  display: grid;
  margin-left: 510px;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
}

.screen {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: darkgray;
}

.main-cal {
  margin: 7% 3% 2% 0;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.title-cal {
  color: #172b4d;
  font-weight: 700;
  font-size: 1.2rem;
  padding-left: 45px;
  width: 210px;
  font-family: cursive, sans-serif;
}

button {
  padding: 10px;
  background-color: rgb(243, 240, 240);
  border: 1px solid rgb(151, 150, 150);
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.screen .previous-operate {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.screen .current-operate {
  color: white;
  font-size: 1.5rem;
}

.span-box {
  grid-column: span 2;
}

.box-color {
  background: orange;
}
